body {
    font-family: 'Calistoga', serif;
    margin: 1em;
    background: rgb(74,119,125);
    background: linear-gradient(90deg, rgb(74,119,125) 0%, rgb(43,68,71) 25%, rgb(43,68,71) 75%, rgb(74,119,125) 100%);
}

header {
    max-width: 42em;
    padding: 0;
    margin: 0 auto;
}

main {
    padding: 1em;
    max-width: 40em;
    margin: 1em auto;
    background-color: #f6fdff;
    text-align: justify;
}

.video {
    margin: 1em auto;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;
}
.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}
